:root{
    --lavender: #b5a8d3;
    --electricgrape: #6a50a7;
    --darkvoid: #100120;
    --snowgrey: #dedede;
    --aquamarine: #abd8d5;
    --sunshine: #fefc97;
    --electricpink: #ad1b97;
    --midnightgrape: #2f074d;
}

html{
    font-size: 62.5%;
    margin-top: 0;
    padding: 0;
}

li{
    display:inline-block;
}

body {
    background-image: linear-gradient(var(--darkvoid),var(--midnightgrape),var(--darkvoid));
    line-height: 1.5;
    margin-top: 0;
    padding-top: 0;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    border-bottom: 3px solid var(--electricpink);
    padding: 30px;
    margin: 0 auto;
    background-image: linear-gradient(var(--midnightgrape),var(--darkvoid));
    width: 100%;
    
}
footer{
    margin: 0px;
    padding: 20px;
    background-image: linear-gradient(var(--darkvoid),var(--midnightgrape));  
    width: 100%;
    border-top: 3px solid var(--electricpink);

}

nav{
    
   display:flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
}

h1 {
    margin-top: 0;
}

.footer-bottom-margin {

    margin-bottom: 0;
}

.apply-flex {
    display: flex;
}

.apply-flex-row{
    flex-direction: row;
    justify-content: center;
}

.apply-flex-column{
    flex-direction: column;
    align-items: center;
}

.projectcontainer-page-width{
    
   justify-content: center;
    max-width: 80%;
    min-width: auto;
    flex-wrap: wrap;
    flex-grow: 1;
}

.apply-flex-wrap{
    flex-wrap: wrap;
}

.majorproject-width{

   justify-content: center;
    width: 95%;
   margin: auto;
    flex-shrink: 1;
}
.minorproject-width{
    max-width: 80%;
    min-width: auto;
    align-items: center;
    margin: 5%;
    flex-grow: 1;
}
.img-resize {
    min-width: auto;
    max-width: 100%;
    max-height: auto;


}
.flex-wrapper{
    justify-content: center;
    max-width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
}


.minor-project{
    
    border: 3px solid var(--aquamarine);
    min-width: 150px;
    max-width: 400px;
    background-color: var(--lavender);
    border-radius: 18%;
    padding:3%;
}

.major-project{
    padding: 5%;
    min-width: 300px;
    max-width: 80%;
    border: 3px solid var(--aquamarine);
    background-color: var(--lavender);
    border-radius: 22%;

}

.about-me{
    width: auto;
    height:45%;
    border-radius: 30%;
    border: 3px solid var(--aquamarine);
    background-color: var(--lavender);
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.nav-link{
    display: inline-block;
    border:2px solid var(--aquamarine);
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    
}

.logo{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--aquamarine);
    margin-bottom: 20px;
    max-width: 500px;
    min-width: 200px;
    
}
